<!-- Generated template for the FoodComponent component -->
<section class="dv_content">
    <h3>{{data.description}}</h3>
    <p>{{data.shortTitle}}</p>
    <section class="banner" [style.background]="'url('+httpUrlHome+'/cms/images/upload/article/'+data.contentImg+')'"></section>
    <img [src]="httpUrlHome+'/cms/images/upload/article/'+data.contentImg" alt="">
    <h6>正文：</h6>
    <ion-row>
        <ion-col>
            <div [innerHTML]="data.content"></div>
        </ion-col>
    </ion-row>
</section>