work {
    .item {
        background: #fff;
        width: 100%;
        padding: 12px;
        margin-bottom: 12px;
        header {
            color: #828282;
            width: 100%;
            overflow: hidden;
            img {
                width: 35px;
                height: 35px;
                border: none;
                display: block;
                float: left;
                border-radius: 9999px;
            }
            h4 {
                line-height: 35px;
                margin: 0;
                font-size: 14px;
                font-weight: normal;
                margin-left: 10px;
                float: left;
            }
            .time {
                line-height: 35px;
                float: right;
                margin: 0;
            }
        }
        h5 i {
            color: #488aff;
        }
        .banner {
            width: 100%;
            height: 150px;
            background-size: cover !important;
            background-position: center center !important;
            margin-top: 6px;
        }
        .mark {
            padding-top: 6px;
            display: -webkit-flex;
            display: flex;
            p {
                flex-grow: 1;
                text-align: center;
                color: #9a9a9a;
                line-height: 18px;
                font-size: 15px;
                margin: 10px 0;
            }
            .cen {
                border-left: 1px solid #9a9a9a;
                border-right: 1px solid #9a9a9a;
                box-sizing: border-box;
            }
            i {
                color: #488aff;
            }
        }
    }
}